@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins';

}

h1 {
    display: flex;
    justify-content: center;
    padding-top:5px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}

.container {
    background-color: #EAAB00;
    width: 590px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 6%;

}

#dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resultado {
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    color: #EAAB00;
    margin-top:10px;
    padding:10px;
    border-radius:6%;
    border:none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

#p-resultado {
    padding:10px;
    color:#EAAB00;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
